@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #f9f9f9;
    --text-color: #000000;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: none !important;
  }

  button, a, input, textarea, select {
    cursor: none !important;  /* 커스텀 커서만 활성화 */
  }
  input.mantine-Input-input,
  input.mantine-TextInput-input {
    cursor: none !important;
}
  svg {
    transition: fill 0.5s ease; /* fill 색상에 대한 transition 속도를 더 빠르게 설정 */
  }


  .pirate-logo {
    width: 60px; /* 기본 크기 */
    height: 60px;
}

/* 화면 크기가 1024px 이하일 때 */
@media (max-width: 1024px) {
    .pirate-logo {
        width: 25px; /* 작은 화면 크기 */
        height: 25px;
    }
}

@keyframes slide-top {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
